/.idea/
/InteractiveApp/InteractiveApp/bin/
/InteractiveApp/InteractiveApp/obj/
/InteractiveApp/InteractiveApp.iOS/bin/
/InteractiveApp/InteractiveApp.iOS/obj/
/InteractiveApp/InteractiveApp.Android/bin/
/InteractiveApp/InteractiveApp.Android/obj/
.idea/